.background-banner {
    background-size: cover;
    animation: background-banner 32s ease infinite;
}

@keyframes background-banner {
    0% {background-image: url('../images/backgrounds/home-1.jpg');}
    25% {background-image: url('../images/backgrounds/home-2.jpg');}
    50% {background-image: url('../images/backgrounds/home-3.jpg');}
    75% {background-image: url('../images/backgrounds/home-4.jpg');}
    100% {background-image: url('../images/backgrounds/home-1.jpg');}
}

.form-pad .row, .form-pad button {
    margin-top: 25px;
    margin-bottom: 25px;
}

#tabs-home .tab a{
    background-color: #eeeeee;
    color:#000;
    font-size: larger;
} /*Black color to the text*/

#tabs-home .tab a:hover {
    background-color:#bdbdbd;
    color:#000;
} /*Text color on hover*/

#tabs-home .tab a.active {
    background-color:#e0e0e0;
    color:#000;
} /*Background and text color when a tab is active*/

#tabs-home .indicator {
    background-color: #2196f3;
} /*Color of underline*/

.img-crop {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
}
.img-crop img {
    position: absolute;
    width: 100%;
}